@model IntellectTechCareers.Models.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
    IntellectTechCareers.Models.User user = (IntellectTechCareers.Models.User)Session["user"];
    
    if (user.role.Equals("candidate"))
    {
        Layout = "~/Views/Shared/_LayoutPageCandidate.cshtml";
    }
    else if (user.role.Equals("staff"))
    {
        Layout = "~/Views/Shared/_LayoutPageStaff.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutPageManager.cshtml";        
    }
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/Content/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    
    @Scripts.Render("~/Scripts/jquery-1.8.2.min.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.8.24.min.js")
}

@using (Html.BeginForm("ChangePassword", "Candidate", FormMethod.Post)) {

    <fieldset>
        <legend>Change password form</legend>

        <h2>Change password</h2>
        <ul>
            <li>
                <div>
                    @Html.LabelFor(m => m.currentPassword)
                    @Html.PasswordFor(m => m.currentPassword)
                    @Html.ValidationMessageFor(m => m.currentPassword)    
                </div>
                <br />
            </li>
            <li>
                 <div>
                    @Html.LabelFor(m => m.newPassword)
                    @Html.PasswordFor(m => m.newPassword)
                    @Html.ValidationMessageFor(m => m.newPassword)
                </div>               
                <br />
            </li>
            <li>
                <div>
                    @Html.LabelFor(m => m.confirmNewPassword)
                    @Html.PasswordFor(m => m.confirmNewPassword)
                    @Html.ValidationMessageFor(m => m.confirmNewPassword)   
                </div>
            </li>
        </ul>
        <input style="margin-left:40px;" type="submit" value="Change password"/> 
    </fieldset>    
}

<div id="notification"></div>

<script type="text/javascript">

    var error = '@ViewBag.ErrorMessage' ;

    if(error != "")
    {
        document.getElementById('notification').innerHTML = "<h3><font color='red'>" + error + "</font><h3>";
    }
</script>