@model IntellectTechCareers.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}


<section id="LoginFeaturedContent">
<h2>Join us and make amazing things happen</h2>
<ol class="round">
    <li class="one">
        I am proud of the great quality serices we provide and the cutting edge innovations we are making. 
        It is amazing to see the products you worked on in the hands of millions of people. 
        <h5 style="text-align:right">— Kaushik Mahato</h5>
        
    </li>
    <li class="two">
        I have both the possibility to work closely with a team, as well as the opportunity to work on, 
        and have an input into the formulation of new policy.
        <h5 style="text-align:right">— Ashish Kankaria</h5>
    </li>

</ol>
    </section>
@*<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
<script src="~/Scripts/jquery.bxslider.min.js"></script>
<link href="~/Content/jquery.bxslider.css" rel="stylesheet" />

<script>
    $(document).ready(function () {
        $('.bxslider').bxSlider();
    });
</script>

<section id="LoginFeaturedContent">
<div style="width:300px"></div>
<ul class="bxslider" >
  <li><img src="/images/pics/pic1.jpg" /></li>
  <li><img src="/images/pics/pic2.jpg" /></li>
  <li><img src="/images/pics/pic3.jpg" /></li>
</ul>
</section>*@

<section id="LoginFormRight">
<h2>Log In. Get Hired.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}
    </section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
