@model IntellectTechCareers.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/themes/base/minified/jquery-ui.min.css")
    @Scripts.Render("~/Scripts/jquery-1.7.1.min.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.10.4.min.js")
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <h2>Account details</h2>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>

        <h2>Personal details</h2>
        <ol>
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
            </li>
            <li>
                @Html.LabelFor(m => m.EmailID)
                @Html.TextBoxFor(m => m.EmailID)
            </li>
            <li>
                @Html.LabelFor(m => m.ContactNo)
                @Html.TextBoxFor(m => m.ContactNo)
            </li>
            <li>
                @Html.LabelFor(m => m.gender)
                @Html.RadioButtonFor(m => m.gender,"m") Male
                @Html.RadioButtonFor(m => m.gender,"f") Female
            </li>
            <li>
                @Html.LabelFor(m => m.dob)
                @Html.TextBox("YourTextBox", "", new { @class = "date-picker" })
                @* TODO : Add a date picker for date of birth*@
            </li>
            <li>
                @Html.LabelFor(m => m.Address)
                @Html.TextBoxFor(m => m.Address)
            </li>
        </ol>
        <input type="submit" value="Sign up" />

    </fieldset>
    
    <script type="text/javascript">
        $(function () { // will trigger when the document is ready
           $('.datepicker').datepicker(); //Initialise any date pickers
        });
    </script>
}

