@model IntellectTechCareers.Models.ExperienceModel

<script type="text/javascript">

    function validate(company, des, exp)
    {
        if (company.length < 1 || company.length > 25)
        {
            document.getElementById('notification_text').innerHTML = "Company name must be between 1 to 25 characters";
            return false;
        }

        if (des.length < 1 || des.length > 30)
        {
            document.getElementById('notification_text').innerHTML = "Designation must be between 1 to 25 characters";
            return false;
        }

        if (exp < 1 || exp > 500)
        {
            document.getElementById('notification_text').innerHTML = "Experience must be between 1 to 500";
            return false;
        }
    
        return true;
    }

    function add_exp_details()
    {
        var company = document.getElementById('company').value;
        var des = document.getElementById('designation').value;
        var exp = document.getElementById('experience').value;

        var isValid = validate(company, des, exp);

        if (!isValid) {
            document.getElementById('notification_experience').style.display = "block";
            return false;
        }
        else
        {
            document.getElementById('notification_experience').style.display = "none";
        }

        var model = {"user_id":'@Model.user_id', "company":company, "designation":des, "experience":exp};

        var url = '@Url.Action("UpdateExperienceInfo", "Candidate")'

        $.ajax({
            type: "POST",
            url: url,
            data: model,
            success: function (retValue) {

                document.getElementById('experience_details').style.display = "none";

                //AJAX call to refresh the grid
                var url1 = '@Url.Action("GetCandidateExperienceDetails", "Candidate")'

                $.ajax({
                    type: "POST",
                    url: url1,
                    success: function (obj) {

                        var htmlString = '<table>';
                        htmlString += '<thead><tr>';
                        htmlString += '<td><b>Company</b></td>';
                        htmlString += '<td><b>Designation</b></td>';
                        htmlString += '<td><b>Experience in months</b></td>';
                        htmlString += '</tr></thead>';

                        for (var i = 0 ; i < obj.experience.length; i++) {
                            htmlString += '<tr>';
                            htmlString += '<td>' + obj.experience[i].company + '</td>';
                            htmlString += '<td>' + obj.experience[i].designation + '</td>';
                            htmlString += '<td>' + obj.experience[i].experience + '</td>';
                            htmlString += '</tr>';
                        }
                        htmlString += '</table>'
                        var div_elem = document.getElementById('experience_details_div');
                        div_elem.innerHTML = htmlString;
                    }
                });



            }
        });
    }
</script>

<h3>Add relevant work experience and click save to submit</h3>
<input type="hidden" id="user_id" value='@Model.user_id' />
<table >
<tr>
    <td>Company Name</td>
    <td>@Html.TextBoxFor(m => m.company)</td>
</tr>
<tr>
    <td>Highest designation held</td>
    <td>@Html.TextBoxFor(m => m.designation)</td>
</tr>
<tr>
    <td>Experience in months</td>
    <td>@Html.TextBoxFor(m => m.experience)</td>
</tr>
</table>

<div id="notification_experience" style="display:none;">
    <h3>
    <font color="red">
        <label id="notification_text"></label>
    </font>
    </h3>
</div>
<input type="button" onclick="add_exp_details()" value="Save" />