@model IntellectTechCareers.Models.CandidateModel

<script type="text/javascript">

    function add_qualification()
    {
        var ug = document.getElementById('newUgQualification').value;
        var pg = document.getElementById('newPgQualification').value;

        if (ug == 0 && pg == 0)
        {
            document.getElementById('notification_message').style.display = "block";
            return false;
        }

        var model = { "user_id": '@Model.user_id', "newUgQualification": ug, "newPgQualification": pg };

        var url = '@Url.Action("UpdateQualificationDetails", "Candidate")'

        $.ajax({
            type: "POST",
            url: url,
            data: model,
            success: function (retValue) {
                document.getElementById('add_edu_details').style.display = "none";

                //AJAX call to refresh the grid
                var url1 = '@Url.Action("GetCandidateEducationDetails", "Candidate")'

                $.ajax({
                    type: "POST",
                    url: url1,
                    success: function (obj) {

                        var htmlString = '<table>';
                        htmlString += '<thead><tr>';
                        htmlString += '<td><b>Graduation type</b></td>';
                        htmlString += '<td><b>Qualification</b></td>';
                        htmlString += '</tr></thead>';
                        for(var i=0 ; i<obj.qualifications.length; i++)
                        {
                            htmlString += '<tr>';
                            htmlString += '<td>' + obj.qualifications[i].type + '</td>';
                            htmlString += '<td>' + obj.qualifications[i].qualification + '</td>';
                            htmlString += '</tr>'
                        }
                        htmlString += '</table>';
                        var div_elem = document.getElementById('education_details_div');
                        div_elem.innerHTML = htmlString;
                    }
                });
            }
        });

        document.getElementById('notification_message').style.display = "none";
    }
</script>

<table>
<tr>
    <td>Select your qualification and click on save to submit</td>
    <td>@Html.DropDownListFor(model => model.newUgQualification, new SelectList(ViewBag.ugListData, "Value", "Text"))</td>
</tr>
<tr>
    <td>Select your qualification and click on save to submit</td>
    <td>@Html.DropDownListFor(model => model.newPgQualification, new SelectList(ViewBag.pgListData, "Value", "Text"))</td>
</tr>
</table>

<div id="notification_message" style="display:none;">
    <font color="red">Please select atleast one qualification or click cancel</font>
</div>

<input type="button" onclick="add_qualification()" value="Save" />

