@model IntellectTechCareers.Models.CandidateModel

@{
    ViewBag.Title = "UpdateProfile";
    Layout = "~/Views/Shared/_LayoutPageCandidate.cshtml";
}

<script type="text/javascript">
    function enable_add_detail_div() 
    {
        var elem = document.getElementById('add_edu_details');
        elem.style.display = "block";
    }

    function add_detail() {

        var elem = document.getElementById('add_edu_details');
        elem.style.display = "none";
    }

    function enable_add_exp()
    {
        var elem = document.getElementById('experience_details');
        elem.style.display = "block";
    }

    function hide_div(id)
    {
        var elem = document.getElementById(id);
        elem.style.display = "none";
        document.getElementById('notification_message').style.display = "none";
    }

    function onCancel()
    {
        document.getElementById('EmailID').readOnly = true;
        document.getElementById('ContactNo').readOnly = true;
        document.getElementById('Address').readOnly = true;

        hide_div('save_cancel');
        var elem = document.getElementById('edit_details');
        elem.style.display = "block";
    }

    function enable_edit_details() {

        document.getElementById('EmailID').readOnly = false;
        document.getElementById('ContactNo').readOnly = false;
        document.getElementById('Address').readOnly = false;

        hide_div('edit_details');
        var elem = document.getElementById('save_cancel');
        elem.style.display = "block";
    }

    function add_personal_details() {
        var email = document.getElementById('EmailID').value;
        var contact = document.getElementById('ContactNo').value;
        var address = document.getElementById('Address').value;

        var model = { "user_id": '@Model.user_id', "emailID": email, "ContactNo": contact, "Address": address };

        alert(model);

        var url = '@Url.Action("UpdatePersonalInfo", "Candidate")'

        $.ajax({
            type: "POST",
            url: url,
            data: model,
            success: function (retValue) {
                onCancel();
            }
        });
    }

</script>
<h3>Personal details</h3>

<fieldset class="fieldset_profile">
    <legend>Personal details</legend>
    <table>
        <tr>
            <td>Name</td>
            <td>@Html.Label(Model.Name)</td>
        </tr>
        <tr>
            <td>Date of birth</td>
            <td>@Html.Label(Model.dob.ToShortDateString())</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>@Html.Label(Model.gender)</td>
        </tr>        
        <tr>
            <td>Email</td>
            <td>@Html.TextBoxFor(m => m.EmailID, new Dictionary<string, object>(){{"value", @Model.EmailID}, {"readonly", "true"}})</td>
        </tr>

            <tr>
            <td>Contact number</td>
            <td>@Html.TextBoxFor(m => m.ContactNo, new Dictionary<string, object>(){{"value", @Model.ContactNo}, {"readonly", "true"}})</td>
        </tr>

            <tr>
            <td>Address</td>
            <td>@Html.TextBoxFor(m => m.Address, new Dictionary<string, object>(){{"value", @Model.Address}, {"readonly", "true"}})</td>
        </tr>
    </table>

    <div id="save_cancel" style="display:none;">
        <input type="button" onclick="add_personal_details(); onCancel();" value="Save" />
        <input type="button" onclick="onCancel();" value="Cancel" />
    </div>
    
    <div id="edit_details" style="display:block;">
        <input type="submit" onclick="enable_edit_details()" value="Edit details" />
    </div>

</fieldset>

    
<hr />
<h3>Education details</h3>

<div id="education_details_div">
    <table class="alt-rows">
        <thead>
            <tr>
                <td><b>Graduation type</b></td>
                <td><b>Qualification</b></td>
            </tr>
        </thead>

    @{
    
        Dictionary<string, string> idToName = IntellectTechCareers.Data_Access_Layer.CandidateDAL.getQualificationsIdToName();
        foreach (var item in Model.ugQualifications)
        {
            <tr>
                <td>UG</td>
                <td>@idToName[item]</td>
            </tr>        
        }

        foreach (var item in Model.pgQualifications)
        {
            <tr>
                <td>PG</td>
                <td>@idToName[item]</td>
            </tr>        
        }
    }
    </table>
</div>

<br />

<a href="javascript:enable_add_detail_div()" >Add education detail</a>

<div id="add_edu_details" style="display:none;">   
    @Html.Partial("_UpdateQualificationDetailsPartial", Model)
    <input type="button" onclick="hide_div('add_edu_details')" value="Cancel" />
</div>

<hr />
<h3>Experience details</h3>

@{
    <div id="experience_details_div">
        <table class="alt-rows">
            <thead>
                <tr>
                    <td><b>Company</b></td>
                    <td><b>Designation</b></td>
                    <td><b>Experience in months</b></td>
                </tr>
            </thead>

            @foreach (var item in Model.experienceDetails)
            {
                <tr>
                    <td>@item.company</td>
                    <td>@item.designation</td>
                    <td>@item.experience</td>
                </tr>        
            }
        </table>  
    </div>
}
<br />
<a href="javascript:enable_add_exp()" >Add experience</a>

<div id="experience_details" style="display:none;">
    @Html.Partial("_AddExperiencePartial", new IntellectTechCareers.Models.ExperienceModel() {user_id = Model.user_id })
    <input type="button" onclick="hide_div('experience_details')" value="Cancel" />
</div>