@model IntellectTechCareers.Models.CandidateViewModel

@{
    ViewBag.Title = "UpdateProfile";
}

<script type="text/javascript">
    function add_detail() 
    {
        console.log("in add detail");
        var elem = document.getElementById('add_edu_details');
        elem.style.display = "block";
    }
</script>

<h3>Personal details</h3>
@using (Html.BeginForm("UpdateProfileToDB", "Candidate"))
{
    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset class="fieldset_profile">
        <legend>Personal details</legend>
        <table>
            <tr>
                <td>Name</td>
                <td>@Html.Label(Model.candidate.Name)</td>
            </tr>
            <tr>
                <td>Date of birth</td>
                <td>@Html.Label(Model.candidate.dob.ToShortDateString())</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>@Html.Label(Model.candidate.gender)</td>
            </tr>
             <tr>
                <td>Email</td>
                <td>@Html.TextBoxFor(m => m.candidate.EmailID, new { value = @Model.candidate.EmailID})</td>
            </tr>

             <tr>
                <td>Contact number</td>
                <td>@Html.TextBoxFor(m => m.candidate.ContactNo, new { value = @Model.candidate.ContactNo})</td>
            </tr>

             <tr>
                <td>Address</td>
                <td>@Html.TextBoxFor(m => m.candidate.Address, new { value = @Model.candidate.Address})</td>
            </tr>
        </table>

        <input type="submit" value="Update details" />
    </fieldset>
}
<hr />
<h3>Education details</h3>

<table>
    <thead>
        <tr>
            <td><b>Graduation type</b></td>
            <td><b>Qualification</b></td>
        </tr>
    </thead>

@{
    foreach (var item in Model.candidate.ugQualifications)
    {
        <tr>
            <td>UG</td>
            <td>@item</td>
        </tr>        
    }

    foreach (var item in Model.candidate.pgQualifications)
    {
        <tr>
            <td>PG</td>
            <td>@item</td>
        </tr>        
    }
}
</table>
<br />
<a href="javascript:add_detail()" >Add education detail</a>
<div id="add_edu_details" style="display:none;border:1px solid black;">

    <h3> Select your qualification and click on save to submit. </h3>

    @Html.DropDownList("ugListData");

</div>
<hr />
<h3>Experience details</h3>

@{
    
    <table>
    <thead>
        <tr>
            <td><b>Company</b></td>
            <td><b>Designation</b></td>
            <td><b>Experience in months</b></td>
        </tr>
    </thead>

    @foreach (var item in Model.candidate.experienceDetails)
    {
        <tr>
            <td>@item.company</td>
            <td>@item.designation</td>
            <td>@item.experience</td>
        </tr>        
    }

</table>
    
}
