@model IEnumerable<IntellectTechCareers.Models.ApplicationModel>

@{
    ViewBag.Title = "ViewJobStatus";
    Layout = "~/Views/Shared/_LayoutPageCandidate.cshtml";
}

<h3>Applied Jobs</h3>

<table class="alt-rows">
    <thead>
        <tr>
            <td>
                <b>@Html.DisplayNameFor(model => model.AppId)</b>
            </td>
            <td>
                <b>@Html.DisplayNameFor(model => model.JobId)</b>
            </td>
    @*        <th>
                @Html.DisplayNameFor(model => model.StatusCode)
            </th>*@
            <td>
                <b>@Html.DisplayNameFor(model => model.Status)</b>
            </td>
            <td>
                <b>@Html.DisplayNameFor(model => model.Date)</b>
            </td>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Label(item.AppId.ToString())
        </td>
        <td>
            @Html.Label(item.JobName)
        </td>
@*        <td>
            @Html.DisplayFor(modelItem => item.StatusCode)
        </td>*@
        <td>
            @Html.Label(item.Status)
        </td>
        <td>
            @Html.Label(item.Date.ToShortDateString())
        </td>
    </tr>
}

</table>
<br />
@using (Html.BeginForm("ViewJobDetails", "Candidate", FormMethod.Get))
{
    <input type="submit" value="Apply for new jobs" />    
}
