@model IntellectTechCareers.Models.ChangePasswordModel

@{
    ViewBag.Title = "ChangeOthersPassword";
    Layout = "~/Views/Shared/_LayoutPageManager.cshtml";    
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/Content/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    
    @Scripts.Render("~/Scripts/jquery-1.8.2.min.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.8.24.min.js")
}

<script type="text/javascript">

    var val = 0;

    $(document).ready(function () {
        $("input[type=radio]").change(function () {            

            if (this.value == "False")
            {
                document.getElementById('user_list_candidate').style.display = "none";
                document.getElementById('user_list_staff').style.display = "inline";
                val = this.value;
            }
            else
            {
                document.getElementById('user_list_candidate').style.display = "inline";
                document.getElementById('user_list_staff').style.display = "none";
                val = this.value;
            }
        });
    });

</script>

<h2>Change Other's Password</h2>

@using (@Html.BeginForm()) {
    
    
    <fieldset>
        <legend>Change other's password</legend>        
        <table>
            <tr>
                <td>@Html.Label("Role")</td>
                <td></td>
                <td>
                    @Html.RadioButtonFor(m => m.isApplicant,true) Applicant
                    @Html.RadioButtonFor(m => m.isApplicant,false, new { Checked = "checked" }) Staff
                </td>
            </tr>

            <tr><td></td><td></td><td></td></tr>

            <tr>
                <td>@Html.Label("User")</td>
                <td></td>
                <td>
                    <div id="user_list_candidate" style="display:none;">
                        @Html.DropDownListFor(model => model.selectedApplicant, new SelectList(ViewBag.Candidates, "Value", "Text"))
                    </div>
                    <div id="user_list_staff" style="display:inline;">
                        @Html.DropDownListFor(model => model.selectedStaff, new SelectList(ViewBag.Staffs, "Value", "Text"))
                    </div>
                </td>
            </tr>

            <tr><td></td><td></td><td></td></tr>

            <tr>
                <td>@Html.LabelFor(m => m.newPassword)</td>
                <td></td>
                <td>
                    @Html.PasswordFor(m => m.newPassword)
                    @Html.ValidationMessageFor(m => m.newPassword)
                </td>
            </tr>

            <tr><td></td><td></td><td></td></tr>

            <tr>
                <td>@Html.LabelFor(m => m.confirmNewPassword)</td>
                <td></td>
                <td>
                    @Html.PasswordFor(m => m.confirmNewPassword)
                    @Html.ValidationMessageFor(m => m.confirmNewPassword)
                </td>
            </tr>
            <tr>
            <td></td>
            <td></td>
            <td><input type="submit" onclick="return update_param()" value="Change Password" /></td>
            </tr>
        </table>
    </fieldset>
}

