@model IntellectTechCareers.Models.ResultModel

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(function () {
        $(".candidate-list").attr("bgcolor", "#FFA0A0");
        $('.checkbox').on('change', function () {
            if (this.checked) {
                $(this).closest('tr').find('td').each(function () {
                    $(this).attr("bgcolor", "#9FE287");
                });
            }
            else {
                $(this).closest('tr').find('td').each(function () {
                    $(this).attr("bgcolor", "#FFA0A0");
                });
            }
        })
    });
</script>
<style>
    ul {
        margin: 20px;
    }

    .input-color {
        position: relative;
    }

        .input-color input {
            padding-left: 20px;
        }

        .input-color .color-box {
            width: 10px;
            height: 10px;
            display: inline-block;
            background-color: #ccc;
            position: absolute;
            left: 5px;
            top: 5px;
        }
</style>

@*@using (Html.BeginForm()) *@
@{
    string postController = @ViewBag.Controller;
}
@using (Html.BeginForm("ReleaseResults", postController, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ResultModel</legend>

        <div class="editor-label">
            <p style="font-size: 18px;"><b>Releasing Results for -</b> [Id : @Model.JobId] @Model.JobDesc</p>
            @*Html.Label("For Job - ["+Model.JobId+"] "+Model.JobDesc)*@
            @Html.HiddenFor(model => model.JobId)
            @Html.HiddenFor(model => model.JobDesc)
            @Html.HiddenFor(model => model.Vacancies)
        </div>
        <br />
        @if (Model.Candidates.Count > 0)
        {
            <div class="editor-label">
                @Html.Label("Candidates : ")
                <table class="select-table">
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.Candidates[0].UserID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Candidates[0].Username)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Candidates[0].Name)
                        </th>
                    </tr>

                    @for (int i = 0; i < Model.Candidates.Count; i++)
                    {
                        <tr>
                            <td class="candidate-list">
                                @Html.HiddenFor(model => model.Candidates[i].UserID)
                                @Html.HiddenFor(model => model.Candidates[i].Name)
                                @Html.HiddenFor(model => model.Candidates[i].Username)
                                @Html.CheckBoxFor(model => model.Candidates[i].IsSelected, new { @class = "checkbox" })
                            </td>
                            <td class="candidate-list">
                                @Html.Label(Model.Candidates[i].UserID.ToString())
                            </td>
                            <td class="candidate-list">
                                @Html.Label(Model.Candidates[i].Username.ToString())
                            </td>
                            <td class="candidate-list">
                                @Html.Label(Model.Candidates[i].Name.ToString())
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
        <p>
            <input type="submit" value="Release" />
        </p>
    </fieldset>
    <div>
        <b>Color Legends : </b>
        <span class="input-color">
            <input readonly="readonly" style="font-size: 1em; padding: 0px 0px 0px 20px; width: 60px; margin: 0px 0px 0px 0px;" type="text" value="Selected" />
            <div class="color-box" style="background-color: #9FE287;"></div>
            <!-- Replace "#FF850A" to change the color -->
        </span>
        <span class="input-color">
            <input readonly="readonly" style="font-size: 1em; padding: 0px 0px 0px 20px; width: 60px; margin: 0px 0px 0px 0px;" type="text" value="Rejected" />
            <div class="color-box" style="background-color: #FFA0A0;"></div>
            <!-- Replace "navy" to change the color -->
        </span>
    </div>
}
