@model IEnumerable<IntellectTechCareers.Models.ApplicationModel>

<table class="alt-rows">
    <tr>
        <th>
            <b>@Html.DisplayNameFor(model => model.AppId)</b>
        </th>
        <th>
            <b>@Html.DisplayNameFor(model => model.CandidateId)</b>
        </th>
        <th>
            <b>@Html.DisplayNameFor(model => model.JobName)</b>
        </th>
       @* <th>
            @Html.DisplayNameFor(model => model.StatusCode)
        </th>*@
        <th>
            <b>@Html.DisplayNameFor(model => model.Status)</b>
        </th>
        <th>
            <b>@Html.DisplayNameFor(model => model.Date)</b>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Label(item.AppId.ToString())
        </td>
        <td>
            @Html.Label(item.CandidateId.ToString())
        </td>
        <td>
            @Html.Label(item.JobName)
        </td>
      @*  <td>
            @Html.Label(item.StatusCode)
        </td>*@
        <td>
            @Html.Label(item.Status)
        </td>
        <td>
            @Html.Label(item.Date.ToShortDateString())
        </td>
    </tr>
}

</table>

