@model IEnumerable<IntellectTechCareers.Models.ShowApplicantModel>

@{
    ViewBag.Title = "BlockedApplicants";
    Layout = "~/Views/Shared/_LayoutPageStaffManager.cshtml";
}

<h2>Blocked Applicants</h2>

<table class="alt-rows">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CandidateId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayName("Days left")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CandidateId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
        	@Html.Display((item.Date - DateTime.Now).Days.ToString())
        </td>
    </tr>
}

</table>
