@model IntellectTechCareers.Models.JobRoleModel

@{
    ViewBag.Title = "PostJob";
    if (ViewBag.Layout != null)
    {
        Layout = ViewBag.Layout;//"~/Views/Shared/_LayoutPageManager.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>Post New Job</h2><br />

@*@using (Html.BeginForm())*@
 @using (Html.BeginForm("PostJob","Staff",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>JobModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.JobDesc)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.JobDesc)
            @Html.ValidationMessageFor(model => model.JobDesc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JobRole)
        </div>
        <div class="editor-field">
            @*Html.DropDownListFor(model => model.JobRole, new SelectList(new List<Object>{
                        new {value = "sd", text = "Cho"},
                        new {value = "sdd", text = "Cho"},
                        new {value = "sddd", text = "Cho"},
                        new {value = "sdddd", text = "Cho"}
                        }, "value", "text", 0))*@
            @*Html.EditorFor(model => model.JobRole)*@
            @Html.DropDownListFor(model => model.JobRole, new SelectList(Model.JobRoles, "Id", "Name"))
            @Html.ValidationMessageFor(model => model.JobRole)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MinExperience)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MinExperience)
            @Html.ValidationMessageFor(model => model.MinExperience)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaxExperience)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaxExperience)
            @Html.ValidationMessageFor(model => model.MaxExperience)
        </div>
        
        <div class="radio-label">
            @Html.LabelFor(model => model.AgeLimit)
            @*@Html.RadioButton("AgeLimitYes", "Yes");
            @Html.RadioButton("AgeLimitNo", "No");*@
            <input class="IsAgeLimit" id="AgeLimitYes" type="radio" name="IsAgeLimit" value="AgeLimitYes">Yes
            <input class="IsAgeLimit" id="AgeLimitNo" type="radio" name="IsAgeLimit" value="AgeLimitNo" checked>No
        </div>
        <div class="editor-field" id="AgeLimit">
            @Html.EditorFor(model => model.AgeLimit)
            @Html.ValidationMessageFor(model => model.AgeLimit)
        </div>

        <p>
            <input type="submit" value="Post" />
        </p>
    </fieldset>
    
    <script>
        $(document).ready(function () {
        $("#AgeLimit").hide();
        $(".IsAgeLimit").change(function () {
            if ($("#AgeLimitNo").attr("checked")) {
                $("#AgeLimit").hide();
            } else {
                $("#AgeLimit").show();
            }
        });
    });
    </script>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
