@model IEnumerable<IntellectTechCareers.Models.JobWithApplicantsModel>

@{
    ViewBag.Title = "Release Results";
    if (ViewBag.Layout != null)
    {
        Layout = ViewBag.Layout;//"~/Views/Shared/_LayoutPageManager.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        $(".releaseResult").click(function () {
            //alert("Hi");
            var rowValue = [];
            $(this).closest('tr').find('td').not(':last').each(function () {
                var textval = $(this).text(); // this will be the text of each <td>
                //$(this).attr("bgcolor", "red");
                rowValue.push(textval);
            });
            //alert(rowValue.join('\n'));
            var ReleaseResultDialogDiv = $("#ReleaseResultDialog");
            // var id = $("#CandidateId").val();
            var model = { "JobId": $.trim(rowValue[0]), "JobDesc": $.trim(rowValue[1]), "Vacancies": $.trim(rowValue[3]) };
            var applicantCount = $.trim(rowValue[4]);
            if (applicantCount == 0) {
                ReleaseResultDialogDiv.html("<h3>Sorry, No applicants for this Job !</h3>");
            }
            else {
                @*var url = '@Url.Action("ReleaseResultsDialog", "Staff")'*@
                var url = '@Url.Action("ReleaseResultsDialog")'
                $.ajax({
                    type: "POST",
                    cache: false,
                    url: url,
                    data: model,
                    success: function (retValue) {
                        //alert("uuu");
                        ReleaseResultDialogDiv.html(retValue);
                    }
                });
            }
        });
    });
</script>

<h2>Release Results</h2>

<table class="alt-rows">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vacancies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicantCount)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.JobId)*@
                @Html.Label(item.JobId.ToString())
            </td>
            <td>
                @Html.Label(item.JobDesc)
            </td>
            <td>
                @Html.Label(item.JobRole.ToString())
            </td>
            <td>
                @Html.Label(item.Vacancies.ToString())
            </td>
            <td>
                @Html.Label(item.ApplicantCount.ToString())
            </td>

            <td>
               <button type="button" class="releaseResult" value="Release Result" >Release Result</button>
            </td>
        </tr>
    }

</table>
<br />
<hr />
<div id="ReleaseResultDialog" style="display: block;">
</div>
