@model IEnumerable<IntellectTechCareers.Models.JobWithApplicantsModel>

@{
    ViewBag.Title = "Release Results";
    if (ViewBag.Layout != null)
    {
        Layout = ViewBag.Layout;//"~/Views/Shared/_LayoutPageManager.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>Release Results</h2>

<table class="alt-rows">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vacancies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicantCount)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vacancies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicantCount)
            </td>

            <td>
                <input type="button" onclick="ReleaseResult()" value="Release Result" />
            </td>
        </tr>
    }

</table>
