@model IEnumerable<IntellectTechCareers.Models.JobModel>

@{
    ViewBag.Title = "Schedule Interview";
    if (ViewBag.Layout != null)
    {
        Layout = ViewBag.Layout;//"~/Views/Shared/_LayoutPageManager.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}


<script type="text/javascript">
    //$('#jobTable').find('tr').click(function () {
    //    var row = $(this).find('td:first').text();
    //    alert('You clicked ' + row);
    //});
    $(document).ready(function () {
        $(".scheduleButton").click(function () {
            //alert("Hi");
            var rowValue = [];
            $(this).closest('tr').find('td').not(':last').each(function () {
                var textval = $(this).text(); // this will be the text of each <td>
                //$(this).attr("bgcolor", "red");
                rowValue.push(textval);
            });
            //alert(rowValue.join('\n'));
            var ScheduleInterviewDialogDiv = $("#ScheduleInterviewDialog");
            // var id = $("#CandidateId").val();
            var model = { "JobId": $.trim(rowValue[0]), "JobDesc": $.trim(rowValue[1]) };
            var url = '@Url.Action("ScheduleInterviewDialog", "Staff")'
            $.ajax({
                type: "POST",
                cache: false,
                url: url,
                data: model,
                success: function (retValue) {
                    //alert("uuu");
                    ScheduleInterviewDialogDiv.html(retValue);
                }
            });
        });
    });
</script>

<h2>Schedule Interview</h2>

<table id="jobTable" class="alt-rows">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vacancies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostedOn)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Label(item.JobId.ToString())
                @*@Html.DisplayFor(itemModel => item.JobId)*@
            </td>
            <td>
                @Html.Label(item.JobDesc)
            </td>
            <td>
                @Html.Label(item.JobRole.ToString())
            </td>
            <td>
                @Html.Label(item.Vacancies.ToString())
            </td>
            <td>
                @Html.Label(item.PostedOn.ToShortDateString())
            </td>
            <td>
                <button type="button" class="scheduleButton" value="Schedule Interview">Schedule Interview</button>
            </td>
        </tr>
    }

</table>
<br />
<hr />
<div id="ScheduleInterviewDialog" style="display: block;">
</div>
