@model IEnumerable<IntellectTechCareers.Models.ShowApplicantModel>

@{
    ViewBag.Title = "SelectedApplicants";
    Layout = "~/Views/Shared/_LayoutPageStaff.cshtml";

}

<h2>Selected Applicants</h2>

<table class="alt-rows">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CandidateId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Label(item.CandidateId.ToString())
        </td>
        <td>
            @Html.Label(item.Name)
        </td>
        <td>
            @Html.Label(item.JobId.ToString())
        </td>
        <td>
            @Html.Label(item.JobDesc)
        </td>
        <td>
            @Html.Label(item.Date.ToShortDateString())
        </td>
    </tr>
}

</table>
