@model IntellectTechCareers.Models.LoginModel
@{
    ViewBag.Title = "Home";
}
@section featured {
   @* <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
   *@
}
<section id="homeFeaturedContent">
<h2>Join us and make amazing things happen</h2>
<ol class="round">
    <li class="one">
        I am proud of the great quality devices we build and the cutting edge hardware innovations we are making. 
        It is amazing to see the products you worked on in the hands of millions of people. 
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
        <h5 style="text-align:right">— Fenghua S.</h5>
        
    </li>
    <li class="two">
        I have both the possibility to work closely with a team, as well as the opportunity to work on, and have an input into the formulation of new policy.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
        <h5 style="text-align:right">— Sinead O'Hara</h5>
    </li>

</ol>
    </section>
<section id="homeLoginForm">
<h2>Log In. Get Hired.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}
    </section>
