@model IntellectTechCareers.Models.ManagerDashBoardModel

@{
    ViewBag.Title = "Manager Home";
    Layout = "~/Views/Shared/_LayoutPageManager.cshtml";
}

@{
    String name = ((IntellectTechCareers.Models.User)Session["user"]).name;
}

<h2>Welcome Mr. @name</h2>
<br />

<fieldset>
    <legend>ManagerDashBoardModel</legend>
    <table>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.TotalJobs)
                </div>
            </td>
            <td>
                <div class="display-field">
                    <b>@Html.DisplayFor(model => model.TotalJobs) </b>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.TotalScheduledInterview)
                </div>
            </td>
            <td>
                <div class="display-field">
                    <b> @Html.DisplayFor(model => model.TotalScheduledInterview)</b>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.TotalResults)
                </div>
            </td>
            <td>
                <div class="display-field">
                    <b> @Html.DisplayFor(model => model.TotalResults)</b>
                </div>
            </td>
        </tr>
        <tr><td><br /></td></tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.UnscheduledInterviewJobs)
                </div>
            </td>
            <td>
                <div class="display-field">
                    <b> @Html.DisplayFor(model => model.UnscheduledInterviewJobs)</b>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.ResultsNotReleased)
                </div>
            </td>
            <td>
                <div class="display-field">
                     <b>@Html.DisplayFor(model => model.ResultsNotReleased)</b>
                </div>
            </td>
        </tr>
    </table>
</fieldset>
